* {
    font-family: 'Montserrat', sans-serif;


}
/* Main container */
.main-container {
    width: 100%;
    display: flex;
    float: right;
    flex-direction: column;
}

/* Header */
.header-container {
    padding: 20px;
    background-image: url("/img/background4-cvmaker.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-text-logo {
    font-family: 'Montserrat ExtraBold', sans-serif;
    font-size: 40px;
    float: left;

}

.main-text-logo a {
    text-decoration: none;
    color: #2EC4B6;
    -webkit-transition: ease-in-out 0.4s;
}

.main-text-logo a:hover {
    color: #011627;
    -webkit-transition: ease-in-out 0.4s;
}


/* Navigatie */

.navigation {
    display: flex;
    flex-direction: row;
    float: right;
    list-style-type: none;

}

.navigation li {
    margin: 0 20px 0 0;

}

.navigation li a {
    text-decoration: none;
    color: #2EC4B6;
    -webkit-transition: ease-in-out 0.4s;

}

.navigation li a:hover {
    color: #011627;
    -webkit-transition: ease-in-out 0.4s;
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    .navigation li a {
        display: block;

    }
}

/* Banner */

.big-banner-container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2EC4B6;

}

.part-of-banner {
    display: flex;
    position: relative;
    float: left;
    vertical-align: middle;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    flex-direction: column;


}

#part-1 {
    width: 33%;
    text-align: center;
    padding: 1px;
}

#part-2 {
    width: 33%;
    margin: 1px;

}

#part-3 {
    width: 33%;
    margin: 1px;

}

@media only screen and (max-width: 600px) {
    .part-1 {
        flex-wrap: wrap;
        display: block;
    }

    .part-2 {
        flex-wrap: wrap;
        display: block;
    }

    .part-3 {
        flex-wrap: wrap;
        display: block;
    }
}