* {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

}

body {
    margin: 0;
    max-width: 100%;
}

h1 {
    font-family: 'Montserrat ExtraBold', sans-serif;
    font-size: 42pt;
    color: #FDFFFC;

}

h3 {
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 36pt;
    color: #FDFFFC;
}
p {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 13pt;
    color: #FDFFFC;
}
/* Main container */
.main-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    float: right;
    flex-direction: column;
    background-image: url("img/background5-cvmaker.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

.header-container {
    margin: 2%;
    padding: 2%;
}

.main-text-logo p {
    font-family: 'Montserrat ExtraBold', sans-serif;
    font-size: 40px;
    float: left;
    position: absolute;
    top: 5%;

}

.main-text-logo a {
    text-decoration: none;
    color: #FDFFFC;
    -webkit-transition: ease-in-out 0.4s;
}

.main-text-logo a:hover {
    color: #2EC4B6;
    -webkit-transition: ease-in-out 0.4s;
}


/* Navigatie */

.navigation {
    display: flex;
    flex-direction: row;
    float: right;
    list-style-type: none;


}

.navigation li {
    margin: 0 20px 0 0;
    flex-direction: column;


}

.navigation li a {
    text-decoration: none;
    color: #FDFFFC;
    -webkit-transition: ease-in-out 0.4s;

}

.navigation li a:hover {
    color: #2EC4B6;
    -webkit-transition: ease-in-out 0.4s;
    list-style-type: none;
}

/* Splash container */

.full-splash-container {
    width: 98vw;
    height: 100vh;
    justify-content: center;
    align-items: center;


}

.full-splash-container h1 {
    text-align: center;
    vertical-align: middle;
}

.full-splash-container p {
    text-align: center;
}

.button-cv-maken {

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    color: #FFFFFF;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: ease-in-out 0.2s;
    background: linear-gradient(to right, #E1870D 50%, #FF9F1C 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border-radius: 25px;

}

.button-cv-maken:hover {
    background-position: left bottom;
    color: #FFFFFF;

}

/* Banner */

.uitleg-title {
    position: absolute;
    top: 100%;
}

.big-parts-container {
    display: flex;
    float:left;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: 60px;
    text-align: center;
    justify-content: center;
    overflow: hidden;





}
.form-container {
    display: flex;
}
.form-left {
    display: flex;
    width: 100%;
    float:left;
    background-color: #E1870D;
    flex-grow: 1;
    flex-flow: wrap;
}
.form-right {
    display: inline-block;
    flex: 1;
    background-color: #1E2148;
    float:right;
    width: 100%;
}


.part-of-banner {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #FFFFFF;
    -webkit-box-shadow: 12px 13px 74px -26px rgba(0,0,0,1);
    -moz-box-shadow: 12px 13px 74px -26px rgba(0,0,0,1);
    box-shadow: 12px 13px 74px -26px rgba(0,0,0,1);
    -webkit-transition: ease-in-out 0.2s;


}

.part-of-banner h1 {
    color: #1E2148;
}

.part-of-banner p {
    color: #1E2148;
    font-family: 'Montserrat Light', sans-serif;

}

.part-of-banner:hover {
    transform: scale(1.05);
    -webkit-transition: ease-in-out 0.2s;
}



#part-1 {
    width: 80%;
    height: 60%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    float:left;




}

#part-2 {

    width: 70%;
    height: 90%;
    margin: 20px;
    padding: 20px;



}

#part-3 {

    width: 70%;
    height: 90%;
    margin: 20px;
    padding: 20px;

    float: right;

}

@media only screen and (max-width: 600px) {

    * {
        max-width: 100%;
    }

    .main-text-logo {
        position: absolute;
        top: 5%;
    }

}

@media only screen and (max-width: 1200px) {
    .part-of-banner {
        display: flex;
        flex-direction: column;
    }

    .big-parts-container {
        flex-direction: column;
        margin: 20px;
        padding: 0;
    }
}

/* CV MAKEN */

.main-container-cvmaken {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    float: right;
    flex-direction: column;
    background-color: #171A3D;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.input-field {
    background-color: #FFFFFF;
    outline-style: none;
    text-align: center;
    color: #1E2148;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 15px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid #1E2148;
    padding: 20px;
    margin: 5px;
    width: 40%;
    height: 15px;
    
    flex-grow: 1;
}



.input-field a {
    text-decoration: none;
}

::placeholder {
    color: #1E2148;
    font-family: 'Montserrat Medium', sans-serif;
}

.button {
    background-color: #E1870D;
    border-radius: 10px;
    outline-style: none;
    border: 0;
    margin: 20px;
    padding: 12px;
    color: #FFFFFF;
    font-family: 'Montserrat ExtraBold', sans-serif;
    font-size: 15px;
    width: 25%;
    cursor: pointer;
}

.back {
    background-color: #E1870D;
    border-radius: 10px;
    outline-style: none;
    border: 0;
    margin: 20px;
    padding: 6px;
    color: #FFFFFF;
    font-family: 'Montserrat ExtraBold', sans-serif;
    font-size: 15px;
    width: 25%;
}
